
{{#partial "content"}}
    <h1 class="alternate-result">Heroes</h1>

    {{#if heros}}
        {{#each heros }}
            <p><a href="/squads/{{squadId}}/heroes/{{id}}">{{description}}</a></p>
        {{/each}}
    {{else}}
        <p class="alternate-result">No heroes!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}




